#wrapper{
	width:500px;
  	position: relative;
  	display: inline-block;
  	overflow: hidden;
  	left: 0px;
  	top: 0px;
  	margin: 0px;
  	padding: 0px;
  	max-width: none;
  	max-height: none;
  	border: none;
  	line-height: 1;
  	backface-visibility: visible;
  	-webkit-backface-visibility: visible;
  	-webkit-tap-highlight-color: rgbs(0,0,0,0);
  	-webkit-user-select: none;
  	transform: translate(200px,0px);
  	width: 800px; height: 520px;
  	background-color: black;
  }
#tabs{
	padding: 0px;
	width:100%;
	margin: 0px;
	background: white;
}
#tabs ul{
	padding: 0px;
	margin: 0px;
	width: 100%;
}

#tabs li{
	display:block;
	float:left;
	text-align:center;
	background: #ccc;
	border:1px solid #999;
	margin:0px;
	padding: 0px;
	width:32.9%;
	color: #999;
}
#tabs li.active{
	background:#000000;
	border-bottom:1px solid #efefef;
}
#thumbs-container {
	margin-top: 440px;
	margin-left: 10px;
}
.slick-track {
	opacity: 0.8 !important;
}
.inner-thumbs {
	background: blue;
	margin: 10px;
	height: 60px;
	cursor: pointer;
	opacity: 0.5;
}
.inner-thumbs:hover {
	opacity: 1;
}
button.slick-prev {
	/*background: url("http://www.carmax.com/img/carpage/carpage-map-zoom.png") -430px 6px no-repeat;*/
	position: absolute;
	top: 5px;
	left: -8px;
	height: 70px;
	width: 15px;
	border: none;
	cursor: pointer;
	background: rgba(0,0,0,0.2);
}
button:focus {
	outline: 0;
}
button.slick-prev:hover {
	background-position: -430px -94px;
}
button.slick-next {
	/*background: url('http://www.carmax.com/img/carpage/carpage-map-zoom.png') -651px 6px no-repeat;*/
	position: absolute;
	top: 5px;
	right: -8px;
	height: 70px;
	width: 25px;
	border: none;
	cursor: pointer;
	background: rgba(0,0,0,0.2);
}
button.slick-next:hover {
	background-position: -651px -94px;
}		
